<%= bootstrap_nested_form_for(@post , layout: :horizontal) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :title %>

    <%= f.file_field :cover %>

    <div class="form-group">
        <%= f.label :content , :class => 'control-label col-sm-2' %>
        <div class="col-sm-10">
            <%= f.cktext_area :content %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :remark , :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.cktext_area :remark %>
      </div>
    </div>

    <%= f.submit %>

<% end %>
