<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @post.cover %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content.html_safe %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @post.remark %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
